# TURSO_DATABASE_URL: Turso Database URL
TURSO_DATABASE_URL="libsql://manama-dashboard-hanyhamed.aws-ap-south-1.turso.io"

# TURSO_AUTH_TOKEN: Turso authentication token (JWT token)
TURSO_AUTH_TOKEN="eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3OTAyNzQ5NTMsImlkIjoiMDFhMGNmOTMtMTUwMS03MGMzLThjNTAtZjdhYTIyNzZmYmYwIiwia2lkIjoiazVkZDVaUjdaV0VTSmppYmZSWXFlYS1CM09YaW5Jb29Jd3g2cnBfaFdPcyIsInJpZCI6ImM2OTc0MjBkLTQ4NmItNGIyMy05NWU1LTZiMGQyMDkwMzM4YiJ9.PLO1SD6DQw5V4xbX4g_QvmI9k8V-95ilIez1JxFkLEV_dgK5WcGggDeaHGJrlEvVmyf9Wg_f-Q1OwCPYWoSEDw"

# APP_URL: The URL where this applet is hosted
APP_URL=""
